<template>

	<div class="flex items-center justify-center w-screen h-screen bg-gray-200 p-7">
			
		<div class="flex flex-col space-y-7 text-center">
			<div class="w-full flex items-center justify-center">
				<img src="/img/logo_castle_industrial.png" class="h-32 md:h-48 w-auto" alt="">
			</div>
			<hr class="border-0 border-b-4 border-gray-600 flex-1">
			<h2 class="text-2xl font-bold text-gray-700 flex-1">
				Sirviendo a la Industria Manufacturera en México
			</h2>
			<p class="text-gray-600">©2021 Castle Industrial, Derechos Reservados.</p>
		</div>

	</div>	

</template>
<script>
import GuestLayout from '@/Layouts/Guest';
export default {
  name: 'Index',
  components: {GuestLayout},
  data () {
    return {
    }
  }
}
</script>
<style lang="css" scoped>
</style>